root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[composer.json]
indent_size = 4

[*.{css,less,scss,html,xml,yml,yaml,json,blade.php,js,jsx,nix,nix.example}]
indent_size = 2

[*.{html,md}]
trim_trailing_whitespace = false

[docker-compose.yml]
indent_size = 4
